.modal {
	@apply fixed inset-0 z-50 flex hidden items-center justify-center bg-black/50;
}

.modal-content {
	@apply bg-page relative w-full max-w-3xl items-center rounded-lg p-6 shadow-lg;
}

.modal-content figure {
	@apply text-center;
}

.modal-content img {
	@apply mx-auto h-auto max-w-full rounded-lg;
}

.modal-content figcaption {
	@apply mt-4 text-sm;
}

.modal-footer {
	@apply mt-4 text-right;
}

.modal-close {
	@apply absolute top-2 right-4 cursor-pointer transition-colors;

	& > a {
		@apply text-text-primary hover:text-text-body text-2xl font-bold no-underline;
	}
}

/* Search or Ask AI animation for secondary buttons */

@keyframes slideInFromRight {
	from {
		right: 8px;
		opacity: 0;
	}
	to {
		right: 40px;
		opacity: 1;
	}
}

@keyframes slideOutToRight {
	from {
		right: 40px;
		opacity: 1;
	}
	to {
		right: 8px;
		opacity: 0;
	}
}

.slideInSearchOrAskAiInputAnimation {
	animation: slideInFromRight 0.2s ease-out forwards;
}

.slideOutSearchOrAskAiInputAnimation {
	animation: slideOutToRight 0.2s ease-out forwards;
}
