@import 'tailwindcss';
@config '../tailwind.config.js';

@import './fonts.css';
@import './theme.css';
@import './markdown/applies-to.css';
@import './markdown/typography.css';
@import './markdown/list.css';
@import './markdown/tabs.css';
@import './markdown/applies-switch.css';
@import './markdown/code.css';
@import './markdown/icons.css';
@import './markdown/kbd.css';
@import './copybutton.css';
@import './markdown/admonition.css';
@import './markdown/dropdown.css';
@import './markdown/table.css';
@import './markdown/definition-list.css';
@import './markdown/footnotes.css';
@import './markdown/images.css';
@import './markdown/math.css';
@import './markdown/image-carousel.css';
@import './markdown/hr.css';
@import './modal.css';
@import './archive.css';
@import './markdown/stepper.css';
@import './markdown/button.css';
@import './api-docs.css';
@import 'tippy.js/dist/tippy.css';

html {
	/* We need to use 14px because EUI works best with a 14px base */
	font-size: 14px;
	@apply font-body;
}

body {
	/* This is still needed because of some usages of ch units and to maintain the previous behavior */
	font-size: 16px;
}

:root {
	--outline-size: max(2px, 0.08em);
	--outline-style: auto;
	--outline-color: var(--color-blue-elastic);
	--outline-offset: 5;
	--header-height: calc(var(--spacing) * 21);
	--banner-height: calc(var(--spacing) * 9);
	/*--offset-top: calc(var(--header-height) + var(--banner-height));*/
	--offset-top: 102px;
	--max-text-width: clamp(40ch, 90ch, 100%);
	--max-sidebar-width: calc(var(--spacing) * 65);
	--content-spacing: calc(var(--spacing) * 8);
	--max-layout-width: calc(
		var(--max-text-width) + (var(--max-sidebar-width) * 2) +
			calc(var(--content-spacing) * 2)
	);

	--max-api-sidebar-width: calc(var(--spacing) * 70);
	--max-examples-width: calc(var(--max-api-sidebar-width) * 2);
}

@media screen and (min-width: 767px) {
	:root {
		--offset-top: 102px;
	}
}

@media screen and (min-width: 992px) {
	:root {
		--offset-top: 110px;
	}
}

@media screen and (min-width: 1200px) {
	:root {
		--offset-top: 80px;
	}
}

#pages-nav li.current {
	position: relative;
	&::before {
		content: '';
		position: absolute;
		top: 50%;
		left: -1px;
		width: calc(var(--spacing) * 6);
		height: 1px;
		background-color: var(--color-grey-10);
	}
}

#toc-nav a.current {
	color: var(--color-blue-elastic);
	&:hover {
		color: var(--color-blue-elastic);
	}
}

@layer components {
	.link {
		@apply text-blue-elastic hover:text-blue-elastic-100 inline-flex items-center justify-center font-sans font-semibold text-nowrap;

		.link-icon {
			@apply mr-2 ml-0 size-4 shrink-0;
		}

		.link-arrow {
			@apply ml-2 size-7 shrink-0 transition-transform ease-out;
		}

		&:hover {
			svg:not(.link-icon) {
				@apply translate-x-2;
			}
		}
	}

	.sidebar {
		.sidebar-nav {
			@apply sticky top-0 z-30 overflow-y-auto;
			max-height: 100vh;
			scrollbar-gutter: stable;
			scroll-behavior: smooth;
		}

		.sidebar-link {
			@apply text-ink-light inline-block leading-[1.2em] text-pretty hover:text-black md:text-sm;
			word-break: break-word;
		}
	}
}

* {
	scroll-margin-top: calc(var(--offset-top) + var(--spacing) * 6);
}

:is(a, button, input, textarea, summary):focus {
	outline: var(--outline-size) var(--outline-style) var(--outline-color);
	outline-offset: var(--outline-offset, var(--outline-size));
}

:is(a, button, input, textarea, summary):focus-visible {
	outline: var(--outline-size) var(--outline-style) var(--outline-color);
	outline-offset: var(--outline-offset, var(--outline-size));
}

:is(a, button, input, textarea, summary):focus:not(:focus-visible) {
	outline: none;
}

.htmx-indicator {
	display: none;
}
.htmx-request .htmx-indicator,
.htmx-request.htmx-indicator {
	display: block;
	z-index: 9999;
}

.progress {
	animation: progress 1s infinite linear;
}

.left-right {
	transform-origin: 0% 50%;
}
@keyframes progress {
	0% {
		transform: translateX(0) scaleX(0);
	}
	40% {
		transform: translateX(0) scaleX(0.4);
	}
	100% {
		transform: translateX(100%) scaleX(0.5);
	}
}

#pages-nav .current {
	@apply text-blue-elastic! font-semibold;
}

.markdown-content {
	@apply font-body;
}

.container {
	@apply lg:px-3;
	max-width: var(--max-layout-width) !important;

	* {
		@apply font-body;
	}
}

#elastic-nav-wrapper {
	min-height: var(--offset-top);
}

#elastic-nav {
	@media screen and (min-width: 1200px) {
		[data-component='Container'] {
			/* subtract the padding */
			max-width: calc(var(--max-layout-width) - (var(--spacing) * 10));
		}
	}
}

body {
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto auto 1fr auto;
}

#pages-nav details > summary::-webkit-details-marker {
	display: none;
}

.tippy-content {
	white-space: pre-line;
}

.icon,
.icon > * {
	user-select: none;
	pointer-events: none;
}

math {
	margin-top: 1.5rem;
}
