@inherits RazorLayoutSlice<GlobalLayoutViewModel>
@implements IUsesLayout<Elastic.Documentation.Site._GlobalLayout, GlobalLayoutViewModel>
@functions {
	public GlobalLayoutViewModel LayoutModel => Model;
}
@(await RenderPartialAsync(_CodexHeader.Create(Model)))
<div id="main-container" class="flex flex-col items-center border-t-1 border-grey-20">
	<div class="w-full h-full flex justify-center">
		<main id="content-container" class="w-full max-w-6xl flex flex-col relative pb-12 px-6 lg:px-8">
			<article id="markdown-content" class="content-container markdown-content">
				@await RenderBodyAsync()
			</article>
		</main>
	</div>
</div>
@await RenderPartialAsync(_CodexFooter.Create(Model))
