root = true

[*.cs]
# Disable formatting rules
dotnet_diagnostic.IDE0055.severity = none
dotnet_diagnostic.IDE0073.severity = none

# Disable all other style rules (optional)
dotnet_analyzer_diagnostic.severity = none
