@using Elastic.Markdown.Myst.Components
@using Elastic.Markdown.Myst.FrontMatter
@inherits RazorSlice<ApplicableTo>

<p class="applies">
@await RenderPartialAsync(ApplicableToComponent.Create(new ApplicableToViewModel
{
	AppliesTo = Model,
	Inline = false
}))
</p>