@inherits RazorSlice<Elastic.ApiExplorer.Landing.MarkdownPageViewModel>
@implements IUsesLayout<Elastic.ApiExplorer._Layout, ApiLayoutViewModel>
@functions {
	public ApiLayoutViewModel LayoutModel => Model.CreateGlobalLayoutModel();
}
<section id="elastic-docs-v3">
	@Model.BodyHtml
</section>
