@inherits RazorSliceHttpResult<Elastic.ApiExplorer.Landing.TemplateLandingViewModel>
@using Elastic.ApiExplorer.Landing
@using Elastic.Documentation.Navigation
@using Elastic.Documentation.Site.Navigation
@using Microsoft.AspNetCore.Html
@implements IUsesLayout<Elastic.ApiExplorer._Layout, ApiLayoutViewModel>
@functions {
	public ApiLayoutViewModel LayoutModel => Model.CreateGlobalLayoutModel();
}

<section id="elastic-docs-v3">
	@if (!string.IsNullOrEmpty(Model.TemplateContent))
	{
		@(new HtmlString(Model.TemplateContent))
	}
	else
	{
		<h1>API Documentation</h1>
		<p>Welcome to the API documentation.</p>
	}
</section>
