@inherits RazorSlice<Elastic.Markdown.Myst.Directives.Storybook.StorybookViewModel>
<div class="storybook-embed">
	<iframe
		src="@Model.StoryUrl"
		title="@Model.IframeTitle"
		style="width:100%;height:@Model.HeightStyle;border:none;"
		loading="lazy"></iframe>
	@if (Model.HasBody)
	{
		<div class="storybook-embed-body">
			@Model.RenderBlock()
		</div>
	}
</div>
