@using Elastic.Markdown.Myst.Directives.CsvFile
@inherits RazorSlice<CsvFileViewModel>

@{
    var csvBlock = (CsvFileBlock)Model.DirectiveBlock;
    if (!csvBlock.Found || Model.CsvRows.Count == 0)
    {
        return;
    }
}

<div class="table-wrapper">
    @if (!string.IsNullOrEmpty(csvBlock.Caption))
    {
        <caption>@csvBlock.Caption</caption>
    }
    
    <table>
        <thead>
            <tr>
                @for (var i = 0; i < Model.CsvRows[0].Length; i++)
                {
                    <th>@Model.CsvRows[0][i]</th>
                }
            </tr>
        </thead>
        
        <tbody>
            @for (var rowIndex = 1; rowIndex < Model.CsvRows.Count; rowIndex++)
            {
                <tr>
                    @for (var i = 0; i < Model.CsvRows[rowIndex].Length; i++)
                    {
                        <td>@Model.CsvRows[rowIndex][i]</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>