@inherits RazorSlice<Elastic.Documentation.Site.GlobalLayoutViewModel>

<footer class="py-6 px-6 w-full mx-auto bg-ink-dark">
	<div class="max-w-6xl w-full mx-auto text-grey-20 text-[12px]">
		<a href="https://www.elastic.co/">
			<img class="block" loading="lazy" alt="Elastic logo" src="@Model.Static("logo-elastic-horizontal-white.svg")" width="120" height="41"/>
		</a>
		<p class="mt-3">
			© @(DateTime.Today.Year) Elasticsearch B.V. Codex preview.
		</p>
	</div>
</footer>
