@inherits RazorSlice<Elastic.Documentation.Site.GlobalLayoutViewModel>
<div class="sticky top-0 z-10">
<codex-header title="@(Model.HeaderTitle ?? Model.DocSetName)"
                     logo-href="@(Model.SiteLink("/"))"></elastic-docs-header>
</div>
