@layer components {
	.admonition {
		@apply mt-4 pb-4 rounded-sm border-1;
		
		.admonition-title {
			@apply px-4 pt-4 font-bold flex items-center gap-2 rounded-t-sm;
			svg {
				@apply size-6;
			}
		}
		.admonition-content {
			@apply px-4;
			
			& > *:first-child {
				@apply mt-3!;
			}
		}
		
		&.note {
			border-color: #61A2FF;
			background-color: #E8F1FF;
			.admonition-title {
				color: #1750BA;
				/*background-color: #BFDBFF;*/
			}
		}
		
		&.tip {
			@apply border-teal;
			background-color: #E2F9F7;
			
			.admonition-title {
				@apply text-teal-dark;
				/*background-color: #C9F3F0;*/
			}
		}

		&.warning {
			border-color: #FACB3D;
			background-color: #FDF3D8;
			
			.admonition-title {
				color: #825803;
				/*background-color: #FDDDE9;*/
			}
		}
		
		&.important {
			border-color: #B386F9;
			background-color: #F3ECFE;
			
			.admonition-title {
				color: #6B3C9F;
				/*background-color: #E2D3FE;*/
			}
		}
		
		&.plain {
			border-color: #989FAA;
			background-color: #F6F9FC;

			.admonition-title {
				/*background-color: #D9DDE3;*/
			}
		}
	}
}
