@inherits RazorSlice<Elastic.Markdown.Myst.Directives.Stepper.StepViewModel>
<li class="step">
	@if (!string.IsNullOrEmpty(Model.Title))
	{
		var headingTag = $"h{Model.HeadingLevel}";
		<@headingTag id="@Model.Anchor">
			<a href="#@Model.Anchor">
				@Model.Title
			</a>
		</@headingTag>
	}
	@Model.RenderBlock()
</li>
