@inherits RazorSlice<Elastic.Markdown.Myst.Directives.Stepper.StepViewModel>
<li class="step">
	@if (!string.IsNullOrEmpty(Model.Title))
	{
		<h3 id="@Model.Anchor">
			<a class="title" href="#@Model.Anchor">
				@Model.Title
			</a>
		</h3>
	}
	@Model.RenderBlock()
</li>
