@inherits RazorLayoutSlice<LayoutViewModel>
<!DOCTYPE html>
<html lang="en" class="h-screen">
@await RenderPartialAsync(_Head.Create(Model))
<body class="text-ink has-[#hamburger:checked]:overflow-hidden" hx-ext="preload, head-support">
@(await RenderPartialAsync(_Header.Create(Model)))
<div class="flex flex-col items-center">
	<div class="flex lg:px-6 container">
		@await RenderPartialAsync(_PagesNav.Create(Model))
		@await RenderPartialAsync(_TableOfContents.Create(Model))
		<main class="w-full order-2 relative pb-30">
			<div class="w-full absolute top-0 left-0 right-0 htmx-indicator" id="htmx-indicator" role="status">
				<div class="h-[2px] w-full overflow-hidden">
					<div class="progress w-full h-full bg-pink-70 left-right"></div>
				</div>
				<div class="sr-only">Loading</div>
			</div>
			<div class="content-container px-6">
				@await RenderPartialAsync(_Breadcrumbs.Create(Model))
			</div>
			<article id="markdown-content" class="content-container markdown-content pb-30 px-6">
				@await RenderBodyAsync()
			</article>
			@await RenderPartialAsync(_PrevNextNav.Create(Model))
		</main>
	</div>
</div>
@await RenderPartialAsync(_Footer.Create(Model))
</body>
</html>
