@inherits RazorLayoutSlice<ApiLayoutViewModel>
@implements IUsesLayout<Elastic.Documentation.Site._GlobalLayout, GlobalLayoutViewModel>
@functions {
	public GlobalLayoutViewModel LayoutModel => Model;
}
@if (Model.BuildType == BuildType.Assembler)
{
	@(await RenderPartialAsync(_AssemblerHeader.Create<GlobalLayoutViewModel>(Model)))
}
else
{
	@(await RenderPartialAsync(_IsolatedHeader.Create<GlobalLayoutViewModel>(Model)))
}
<div id="main-container" class="flex flex-col items-center">
	<div class="max-w-(--max-layout-width) w-full h-full grid
			grid-cols-1
			md:grid-cols-[var(--max-sidebar-width)_1fr]
		">
		@await RenderPartialAsync(_PagesNav.Create<GlobalLayoutViewModel>(Model))
		<div class="lg:grid lg:grid-cols-[1fr_var(--max-sidebar-width)]">
			<div class="justify-center px-6 lg:px-0">
				<main id="content-container" class="w-full flex flex-col relative pb-12 overflow-x-hidden">
					<article id="markdown-content" class="content-container markdown-content md:px-4">
						<input type="checkbox" class="hidden" id="pages-nav-hamburger">
						@await RenderBodyAsync()
					</article>
				</main>
			</div>
			@await RenderPartialAsync(_ApiToc.Create(Model.TocItems.ToArray()))
		</div>
	</div>
</div>
@if (Model.BuildType == BuildType.Assembler)
{
	@(await RenderPartialAsync(_AssemblerFooter.Create<GlobalLayoutViewModel>(Model)))
}
else
{
	@(await RenderPartialAsync(_IsolatedFooter.Create<GlobalLayoutViewModel>(Model)))
}
