versioning_systems:
  # This file contains the version numbers for various Elastic products and tools.
  # Updates for Stack versions are manual
  stack: &stack
    base: 9.0
    current: 9.2.2

  # Using an unlikely high version
  # So that our logic that would display "planned" doesn't trigger
  all: &all
    base: 99999
    current: 99999

  # Deployment types
  # Ece version updates are manual
  ece:
    base: 4.0
    current: 4.0.3
  ech: *all
  eck:
    base: 3.0
    current: 3.2.0
  ess: *all
  ecs:
    base: 9.0
    current: 9.2.0
  self: *stack
  ecctl:
    base: 1.0
    current: 1.15.0
  curator:
    base: 9.0
    current: 9.0.0

  # Serverless
  serverless: *all
  elasticsearch: *all
  observability: *all
  security: *all

  # APM agents
  apm-agent-dotnet:
    base: 1.0
    current: 1.34.1
  apm-agent-go:
    base: 2.0
    current: 2.7.2
  apm-agent-java:
    base: 1.0
    current: 1.55.1
  apm-agent-node:
    base: 4.0
    current: 4.15.0
  apm-agent-php:
    base: 1.0
    current: 1.15.1
  apm-agent-python:
    base: 6.0
    current: 6.24.1
  apm-agent-ruby:
    base: 4.0
    current: 4.8.0
  apm-agent-rum-js:
    base: 5.0
    current: 5.17.0
  apm-attacher:
    base: 1.0
    current: 1.1.3
  apm-lambda:
    base: 1.0
    current: 1.6.0

  # EDOTs
  edot-collector:
    base: 9.0
    current: 9.2.2
  edot-ios:
    base: 1.0
    current: 1.4.0
  edot-android:
    base: 1.0
    current: 1.4.0
  edot-dotnet:
    base: 1.0
    current: 1.1.0
  edot-java:
    base: 1.0
    current: 1.7.0
  edot-node:
    base: 1.0
    current: 1.7.0
  edot-php:
    base: 1.0
    current: 1.2.0
  edot-python:
    base: 1.0
    current: 1.10.0
  edot-cf-aws:
    base: 0.1
    current: 0.2.6
  edot-cf-azure:
    base: 0.1
    current: 0.6.0
  edot-cf-gcp:
    base: 0.1
    current: 0.1.0

  # Logging
  ecs-logging-dotnet:
    base: 8.0
    current: 8.18.1
  ecs-logging-go-logrus:
    base: 1.0
    current: 1.0.0
  ecs-logging-go-zap:
    base: 1.0
    current: 1.0.3
  ecs-logging-go-zerolog:
    base: 0.2
    current: 0.2.0
  ecs-logging-java:
    base: 1.0
    current: 1.7.0
  ecs-logging-nodejs:
    base: 1.0
    current: 1.5.3
  ecs-logging-php:
    base: 2.0
    current: 2.0.0
  ecs-logging-python:
    base: 2.0
    current: 2.2.0
  ecs-logging-ruby:
    base: 1.0
    current: 1.0.0
  esf:
    base: 1.0
    current: 1.21.0
  search-ui:
    base: 1.0
    current: 1.24.2

  # Elasticsearch clients (separate from Elasticsearch)
  elasticsearch-client-go:
    base: 9.0
    current: 9.2.0
  elasticsearch-client-java:
    base: 9.0
    current: 9.2.1
  elasticsearch-client-javascript:
    base: 9.0
    current: 15.4.1
  elasticsearch-client-dotnet:
    base: 9.0
    current: 9.2.2
  elasticsearch-client-php:
    base: 9.0
    current: 9.2.0
  elasticsearch-client-python:
    base: 9.0
    current: 9.2.0
  elasticsearch-client-ruby:
    base: 9.0
    current: 8.19.2
  elasticsearch-client-rust:
    base: 9.0
    current: 9.1.0-alpha.1
  # Other
  cloud-terraform:
    base: 0.11
    current: 0.11.17
