@inherits RazorSlice<Elastic.Markdown.MarkdownLayoutViewModel>
@{
	var targets = Model.Breadcrumbs;
	var crumbs = targets.ToList();
}

<ol id="breadcrumbs" class="flex flex-wrap gap-1 items-center w-full py-6">
	@for (var i = 0; i < crumbs.Count; i++)
	{
		var item = crumbs[i];
		<li class="text-ink-light text-sm leading-[1.2em]">
			<a
				itemprop="item"
				href="@item.Url"
				@(i == 0 ? "hx-disable=true" : "")
				@Model.Htmx.GetHxAttributes(Model.CurrentNavigationItem?.NavigationRoot.Id == item.NavigationRoot.Id)>
				<span class="hover:text-black">@item.NavigationTitle</span>
			</a>
			@if (i < crumbs.Count - 1)
			{
				<span class="px-1">/</span>
			}
		</li>
	}
</ol>
