@inherits RazorSlice<Elastic.ApiExplorer.ApiTocItem[]>
<aside class="sidebar hidden lg:block w-full lg:max-w-65 px-6 lg:px-0">
	<nav id="toc-nav" class="sidebar-nav lg:h-full">
		<div class="pt-6">
			@if (Model.Length > 0)
			{
				<div class="font-sans">
					<div class="font-bold mb-2">On this page</div>
					<div class="relative toc-progress-container font-body">
						<div class="toc-progress-indicator absolute top-0 h-0 w-[1px] bg-blue-elastic transition-all duration-200 ease-out"></div>
						<ul class="block w-full">
							@foreach (var item in Model)
							{
								<li class="has-[:hover]:border-l-grey-80 items-center px-4 border-l-1 border-l-grey-20 has-[.current]:border-l-blue-elastic!">
									<a class="sidebar-link inline-block my-1.5 @(item.Level == 3 ? "ml-4" : string.Empty)"
									   href="#@item.Slug">
										@item.Heading
									</a>
								</li>
							}
						</ul>
					</div>
				</div>
			}
		</div>
	</nav>
</aside>
