@layer components {
	.admonition {
		@apply mt-4 rounded-sm border-1 pb-4;

		.admonition-header {
			@apply flex items-center gap-3 rounded-t-sm px-4 py-2 font-bold;
		}

		.applies-admonition {
			@apply flex items-center gap-1 font-normal;
			.applicable-name,
			.applicable-meta {
				@apply text-xs;
			}
			.applicable-separator {
				mix-blend-mode: multiply;
			}
			:root[data-theme='dark'] & .applicable-separator {
				/* mix-blend-mode: unset; */
			}
		}
		.admonition-content {
			@apply px-4;

			& > *:first-child {
				@apply mt-3!;
			}
		}

		&.note {
			@apply border-blue-elastic-40 bg-blue-elastic-10 dark:border-blue-elastic-100 dark:bg-blue-elastic-130;

			.admonition-header {
				@apply text-blue-elastic-110 bg-blue-elastic-20 dark:text-blue-elastic-30 dark:bg-blue-elastic-120;

				.applicable-info {
					@apply border-blue-elastic-40 dark:border-blue-elastic-100;
				}
			}
		}

		&.tip {
			@apply border-teal-40 bg-teal-10 dark:bg-teal-130 dark:border-teal-100;
			.admonition-header {
				@apply text-teal-110 bg-teal-20 dark:text-teal-30 dark:bg-teal-120;

				.applicable-info {
					@apply border-teal-40 dark:border-teal-100;
				}
			}
		}

		&.warning {
			@apply border-yellow-40 bg-yellow-10 dark:bg-yellow-130 dark:border-yellow-100;

			.admonition-header {
				@apply text-yellow-110 bg-yellow-20 dark:text-yellow-30 dark:bg-yellow-120;
				.applicable-info {
					@apply border-yellow-40 dark:border-yellow-100;
				}
			}
		}

		&.important {
			@apply border-purple-40 bg-purple-10 dark:bg-purple-130 dark:border-purple-100;

			.admonition-header {
				@apply text-purple-110 bg-purple-20 dark:text-purple-30 dark:bg-purple-120;
				.applicable-info {
					@apply border-purple-40 dark:border-purple-100;
				}
			}
		}

		&.plain {
			@apply border-grey-40 bg-grey-10 dark:border-grey-100 dark:bg-grey-130;

			.admonition-header {
				@apply text-grey-110 bg-grey-20 dark:text-grey-30 dark:bg-grey-120;
				.applicable-info {
					@apply border-grey-40 dark:border-grey-100;
				}
			}
		}
	}
}
