@layer components {
	.applies {
		cursor: default;
		
		@apply text-subdued;

		[data-tippy-content]:not([data-tippy-content='']) {
			@apply cursor-help;
		}
		
		.applicable-info {
			@apply bg-white 
			border-[1px] 
			inline-grid
			grid-cols-[auto_1fr_auto]
			border-grey-20
			cursor-default
			pt-1.5
			pb-1.5
			pl-3
			pr-3
			rounded-full
			;
		}
		
		.applicable-name, .applicable-meta {
			@apply text-xs text-nowrap;
		}

		.applicable-separator {
			width: 1px;
			height: 100%;
			background-color: var(--color-grey-20);
			margin-left: calc(var(--spacing) * 2);
			margin-right: calc(var(--spacing) * 2)
		}
	}
	
	.applies.applies-block {
		@apply border-b-grey-20 border-b-1 pb-4 flex flex-wrap gap-2;
	}

	.applies.applies-inline {
		display: inline-block;
		vertical-align: bottom;
		.applicable-separator {
			margin-left: calc(var(--spacing) * 1.5);
			margin-right: calc(var(--spacing) * 1.5)
		}
		.applicable-info {
			@apply pt-1 pb-1 pl-1.5 pr-1.5 rounded-sm;
		}
		.applicable-name, .applicable-meta {
			font-size: 0.65em;
		}
	}
}
