@layer components {
	.applies,
	.applies-inline {
		cursor: default;

		[data-tippy-content]:not([data-tippy-content='']) {
			cursor: help;
			border-radius: 9999px;
			&:hover {
				text-decoration: underline;
			}
		}

		.applicable-meta-removed {
			color: var(--color-red-90);
		}
		.applicable-meta-ga {
			color: var(--color-green-90);
		}
		.applicable-meta-technical-preview {
			color: var(--color-blue-elastic-80);
		}
		.applicable-meta-deprecated {
			color: var(--color-pink-90);
		}
		.applicable-meta-beta {
			color: var(--color-poppy-90);
		}
		.applicable-meta-planned {
			color: var(--color-grey-90);
		}
	}

	.applies {
		@apply font-sans;
		border-bottom: 1px solid var(--color-grey-20);
		padding-bottom: calc(var(--spacing) * 3);
		font-variant: all-petite-caps;

		.applicable-info {
			padding: calc(var(--spacing) * 0.5);
			padding-left: calc(var(--spacing) * 2);
			padding-right: calc(var(--spacing) * 2);
			margin: calc(var(--spacing) * 0.5);
			display: inline-block;
			font-size: 0.8em;
			border-radius: 0.4em;
			background-color: var(--color-white);
			border: 1px solid var(--color-grey-20);
		}
		.applicable-version {
			font-weight: bold;
			margin-left: calc(var(--spacing) * 0.5);
			font-variant: none;
			font-size: 0.87em;
		}
		.applicable-lifecycle {
			font-weight: bold;
		}
	}
	.applies-inline {
		@apply font-sans;
		font-variant: all-petite-caps;
		.applicable-info {
			cursor: default;
			padding: calc(var(--spacing) * 0.5);
			padding-left: calc(var(--spacing) * 2);
			padding-right: calc(var(--spacing) * 2);
			margin-left: calc(var(--spacing) * 0.5);
			margin-right: calc(var(--spacing) * 0.5);
			display: inline-block;
			font-size: 0.8em;
			border-radius: 0.4em;
			background-color: var(--color-white);
			border: 1px solid var(--color-grey-20);
			font-weight: normal;
		}
		.applicable-version {
			font-weight: bold;
			margin-left: calc(var(--spacing) * 0.5);
			font-variant: none;
			font-size: 0.87em;
		}
		.applicable-lifecycle {
			font-weight: bold;
		}
	}
}
