@layer components {
	.markdown-content {
		details > summary::-webkit-details-marker {
			display: none;
		}

		details.dropdown {
			@apply border-border-default mt-4 block rounded-sm border-1 shadow-xs;
			summary.dropdown-title {
				@apply text-text-primary flex cursor-pointer items-stretch justify-between font-sans text-lg font-bold;
			}

			&[open] .dropdown-title {
				@apply border-b-border-default border-b-1;
				svg {
					transform: rotate(90deg);
				}
			}

			.dropdown-content {
				@apply px-4 pb-4;
			}

			.dropdown-title__container {
				@apply flex items-stretch;
			}

			.dropdown-title__separator {
				@apply bg-border-default block w-[1px];
			}

			.dropdown-title__icon {
				@apply flex items-center justify-center px-4 py-2;
			}

			.dropdown-title__summary-text {
				@apply flex items-center px-4 py-2;
			}

			.applies-dropdown {
				@apply flex cursor-pointer items-center gap-1 p-2 px-2 font-normal;
				.applicable-info {
					@apply cursor-pointer;
				}
				.applicable-name,
				.applicable-meta {
					@apply text-xs;
				}
			}
		}
	}
}
