/* Footnotes styling */

.footnotes ol {
	@apply list-decimal space-y-3 pl-6;
}

.footnotes li {
	@apply text-ink-light text-sm leading-relaxed;
}

.footnotes li p {
	@apply inline;
}

.footnotes li p:not(:last-child) {
	@apply mb-3;
}

/* Footnote reference (superscript link in text) */
.footnote-ref {
	@apply text-blue-elastic hover:text-blue-elastic-100 font-semibold no-underline;
	text-decoration: none !important;
}

.footnote-ref sup {
	@apply font-sans;
	text-decoration: none !important;
}

/* Back reference (return arrow in footnote) */
.footnote-back-ref {
	@apply text-blue-elastic hover:text-blue-elastic-100 no-underline;
	font-family: monospace;
   text-decoration: none !important;
   vertical-align: super;
   font-size: x-small;
}

/* Multiple back references */
.footnote-back-ref + .footnote-back-ref {
	@apply ml-1;
}
