@layer components {
	.markdown-content {
		kbd.kbd {
			@apply bg-surface-hover text-text-body border-border-default shadow-grey-50 relative top-[-2px] inline-flex min-w-[18px] cursor-default items-center gap-1.5 rounded-sm border px-1.5 pt-[3px] pb-[2px] text-center align-middle font-mono text-sm leading-none capitalize shadow-[0_2px_0_1px];
		}

		kbd.kbd .kbd-separator {
			@apply bg-border-default mx-1 inline-block self-stretch;
			width: 1px;
			/*height: .8em;*/
			transform: translateY(-1px) rotate(30deg);
		}

		kbd.kbd .kbd-space {
			@apply w-0;
		}
	}
}
