.markdown-content {
	.stepper {
		.step {
			@apply not-first:mt-8;
		}

		.title {
			@apply text-text-primary hover:text-text-primary font-sans text-2xl font-semibold no-underline;
		}

		& > ol {
			@apply ml-0;
			counter-reset: stepper;

			ol {
				list-style-type: decimal;
			}
			ol > li > ol {
				list-style-type: lower-alpha;
			}
			ol > li > ol > li > ol {
				list-style-type: lower-roman;
			}
			ol > li > ol > li > ol > li > ol {
				list-style-type: decimal;
			}
			ol > li > ol > li > ol > li > ol > li > ol {
				list-style-type: lower-alpha;
			}
			ol > li > ol > li > ol > li > ol > li > ol > li > ol {
				list-style-type: lower-roman;
			}
		}
		& > ol > li {
			@apply relative list-none pl-12;
			counter-increment: stepper;
			position: relative;
			&::before {
				@apply bg-border-default absolute top-8 -bottom-10 block w-[1px];
				content: '';
				left: calc(var(--spacing) * 4 - 1px);
			}
			&:last-child::before {
				@apply hidden;
			}
			&::after {
				@apply border-border-default bg-surface-hover text-text-primary absolute top-0 left-0 flex size-8 items-center justify-center rounded-full border-1 text-sm;
				content: counter(stepper);
			}
		}
	}
}
