.markdown-content {
	.stepper {
		.step {
			@apply not-first:mt-8;
		}

		.title {
			@apply font-sans text-2xl font-semibold text-black no-underline hover:text-black;
		}

		/* Matches markdown heading styles without using a heading element.
		   Used when `{stepper}` sets `:toc: false`. */
		.step-title {
			@apply font-sans text-ink-dark;
			line-height: 1.2em;

			a {
				@apply text-ink-dark hover:text-ink-dark font-sans no-underline;
			}
		}

		.step-title-1 {
			@apply mt-6 text-5xl font-semibold;
		}

		.step-title-2 {
			@apply mt-10 text-4xl font-bold;
		}

		.step-title-3 {
			@apply mt-8 text-2xl font-bold;
		}

		.step-title-4 {
			@apply mt-8 text-xl font-bold;
		}

		.step-title-5 {
			@apply mt-8 text-base font-bold;
		}

		.step-title-6 {
			@apply mt-8 text-sm font-bold;
		}

		& > ol {
			@apply ml-0;
			counter-reset: stepper;

			ol {
				list-style-type: decimal;
			}
			ol > li > ol {
				list-style-type: lower-alpha;
			}
			ol > li > ol > li > ol {
				list-style-type: lower-roman;
			}
			ol > li > ol > li > ol > li > ol {
				list-style-type: decimal;
			}
			ol > li > ol > li > ol > li > ol > li > ol {
				list-style-type: lower-alpha;
			}
			ol > li > ol > li > ol > li > ol > li > ol > li > ol {
				list-style-type: lower-roman;
			}
		}
		& > ol > li {
			@apply relative list-none pl-12;
			counter-increment: stepper;
			position: relative;
			&::before {
				@apply bg-grey-20 absolute top-8 -bottom-10 block w-[1px];
				content: '';
				left: calc(var(--spacing) * 4 - 1px);
			}
			&:last-child::before {
				@apply hidden;
			}
			&::after {
				@apply border-grey-20 bg-grey-10 absolute top-0 left-0 flex size-8 items-center justify-center rounded-full border-1 text-sm text-black;
				content: counter(stepper);
			}
		}
	}
}
