@layer components {
	.table-caption {
		@apply mt-4 mb-1 font-sans text-sm font-semibold;
	}

	.table-caption + .table-wrapper {
		@apply mt-0;
	}

	.table-wrapper {
		@apply my-4 w-full overflow-x-auto;

		&::-webkit-scrollbar {
			@apply bg-grey-10 border-grey-20 h-2 border-b-1;
		}

		&::-webkit-scrollbar-thumb {
			@apply bg-grey-80 rounded-full;
		}

		&::-webkit-scrollbar-thumb:hover {
			@apply bg-grey-100;
		}

		table {
			@apply border-grey-20 w-full border-collapse border-1;
		}

		table.fixed-widths {
			table-layout: fixed;
		}

		th,
		td {
			@apply border-grey-20 min-w-30 px-4 py-2 not-first:border-l-1;
		}

		table.fixed-widths th,
		table.fixed-widths td {
			min-width: unset;
		}

		thead {
			@apply border-grey-20 bg-grey-10 border-b-1 text-left align-top font-sans font-semibold;
			&:not(:has(th:not(:empty))) {
				/* If no th within thead is not empty, all are empty, so hide the thead */
				display: none;
			}
		}

		tbody {
			@apply align-top;
			tr {
				@apply border-grey-20 hover:bg-grey-10 not-last:border-b-1;
			}
		}
	}
}
