@inherits RazorSlice<Elastic.Documentation.Site.GlobalLayoutViewModel>
@if (Model.Features.AirGappedEnabled)
{
	<div class="sticky top-0 z-30 h-12">
		<elastic-docs-header title="Elastic Docs (air-gapped)" logo-href="@(Model.Link("/"))" air-gapped="true">
		</elastic-docs-header>
	</div>
}
else
{
	<div id="elastic-nav-wrapper">
		<div id="elastic-nav" hx-disable="true"></div>
		@{
			var elasticNavUrl = Model.Features.StagingElasticNavEnabled
				? "https://stag-www.elastic.co/elastic-nav.js"
				: "https://stag-www.elastic.co/elastic-nav.js";
		}
		<script src="@elasticNavUrl" async></script>
	</div>
	@await RenderPartialAsync(_SecondaryNav.Create(Model))
}
