@inherits RazorSlice<Elastic.Documentation.Site.GlobalLayoutViewModel>
<div id="elastic-nav-wrapper">
	<div id="elastic-nav" hx-disable="true"></div>
	@{
		var elasticNavUrl = Model.Features.StagingElasticNavEnabled
			? "https://www-elastic-co-pr-3134.app.elstc.co/elastic-nav.js"
			: "https://www-elastic-co-pr-3134.app.elstc.co/elastic-nav.js";
	}
	<script src="@elasticNavUrl" async></script>
</div>
@await RenderPartialAsync(_SecondaryNav.Create(Model))
