@inherits RazorSlice<Elastic.Documentation.Site.GlobalLayoutViewModel>
@if (Model.Features.AirGappedEnabled)
{
	<div class="sticky top-0 z-30 h-12" id="air-gapped-header" hx-preserve>
		<elastic-docs-header title="Elastic Docs (air-gapped)" logo-href="@(Model.Link("/"))" air-gapped="true">
		</elastic-docs-header>
	</div>
}
else
{
	@* Preserved: elastic-nav.js (loaded from _Head, where head-support keeps it from
	   re-executing on navigation) fills #elastic-nav once; hx-preserve keeps the filled
	   element across body swaps. *@
	<div id="elastic-nav-wrapper" hx-preserve>
		<div id="elastic-nav" hx-disable="true"></div>
	</div>
	@await RenderPartialAsync(_SecondaryNav.Create(Model))
}
