@inherits RazorSlice<LayoutViewModel>
<div class="font-body text-ink">
	<section class="bg-grey-10 w-screen px-6">
		<div class="container mx-auto py-16 flex flex-col lg:flex-row lg:items-center gap-10">
			<div class="lg:basis-[50%]">
				<p class="text-4xl font-bold font-sans text-black">Elastic documentation</p>
				<p class="mt-4">Follow these step-by-step instructions to install, administer, and use Elastic — no matter your use case.</p>
				<div class="flex lg:inline-flex gap-3 mt-9">
					<a href="https://cloud.elastic.co/registration" class="grow select-none cursor-pointer text-white text-nowrap bg-blue-elastic hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-semibold rounded-sm px-6 py-2.5 focus:outline-none h-10 flex items-center justify-center">
						Start free trial
					</a>
					<a href="https://elastic.co/contact" class="grow cursor-pointer text-blue-elastic text-nowrap border-2 border-blue-elastic focus:ring-4 focus:outline-none focus:ring-blue-300 font-semibold rounded-sm px-6 py-2.5 text-center h-10 flex items-center justify-center">
						Upgrade
					</a>
				</div>
			</div>
			<div class="lg:basis-[50%]">
				<img src="https://brand.elastic.co/uploads/SONO6_32yshHjrTME25O8g.png" alt="elastic" class="aspect-video w-full"/>
			</div>
		</div>
	</section>

	<section class="w-screen px-6">
		<div class="container mx-auto py-16">
			<h2 class="font-bold text-3xl text-ink-dark">Elastic basics</h2>
			<div class="flex flex-col lg:flex-row lg:items-center gap-10 mt-6">
				<div class="rounded-xl border-1 border-gray-200 p-6">
					<p>Elastic overview</p>
					<p class="mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elitLorem ipsum dolor sit amet, consectetur adipiscing elit</p>
				</div>
				<div class="rounded-xl border-1 border-gray-200 p-6">
					<p>Elastic architecture</p>
					<p class="mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elitLorem ipsum dolor sit amet, consectetur adipiscing elit</p>
				</div>
			</div>
		</div>
	</section>
	
</div>
