@inherits RazorSlice<LayoutViewModel>
<aside class="hidden lg:block order-1 w-100 border-r-1 border-r-gray-200">
	<nav id="pages-nav" class="sticky top-22 z-10 max-h-[calc(100vh-var(--spacing)*22)] overflow-y-auto pr-6">
		@(new HtmlString(Model.NavigationHtml))
	</nav>
</aside>
