@inherits RazorSlice<PrimaryNavViewModel>
<div class="grow xl:hidden"></div>
<nav class="hidden group-has-[#hamburger:checked]/header:block z-40 overflow-y-scroll xl:overflow-y-visible p-6 pb-12 xl:p-0 fixed xl:static top-[calc(var(--spacing)*21+1px)] left-0 right-0 bottom-0 xl:block grow bg-white" id="primary-nav">
	<div class="container xl:w-full mx-auto xl:mx-0">
		<ul class="flex flex-col xl:flex-row xl:items-center justify-start xl:h-full text-ink font-sans gap-6">
			@foreach (var navItem in Model.Items)
			{
				<li class="relative group h-full xl:flex items-center">

					@if (string.IsNullOrEmpty(navItem.Url))
					{
						<button class="text-nowrap font-semibold flex items-center gap-1">
							<span>@navItem.Title</span>
							@if (navItem.DropdownItems.Count > 0)
							{
								<svg
									class="hidden xl:block"
									xmlns="http://www.w3.org/2000/svg"
									fill="none"
									viewBox="0 0 24 24"
									stroke-width="1.5"
									stroke="currentColor"
									width="16">
									<path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5"/>
								</svg>
							}
						</button>
					}
					else
					{
						<a 
							onclick="document.getElementById('hamburger').checked = false"
							@navItem.HtmxAttributes class="peer text-nowrap font-semibold flex items-center gap-1 hover:text-blue-elastic" href="@navItem.Url">
							<span>@navItem.Title</span>
							@if (navItem.DropdownItems.Count > 0)
							{
								<svg
									class="hidden xl:block"
									xmlns="http://www.w3.org/2000/svg"
									fill="none"
									viewBox="0 0 24 24"
									stroke-width="1.5"
									stroke="currentColor"
									width="16">
									<path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5"/>
								</svg>
							}
						</a>
					}
					@if (navItem.DropdownItems.Count > 0)
					{
						<div class="xl:hidden z-60 group-hover:z-70 group-focus-within:block group-hover:block peer-active:hidden xl:absolute top-full -left-4 pt-2">
							<ul class="bg-white text-ink xl:rounded-lg xl:shadow-lg xl:border-1 border-grey-20 font-body w-full xl:w-100">
								@foreach (var item in navItem.DropdownItems)
								{
									@await RenderPartialAsync(_PrimaryNavDropdownItem.Create(item))
								}
							</ul>
						</div>
					}
				</li>
			}
		</ul>
	</div>
</nav>
