---
# This workflow is used to build the MCP Lambda
# lambda function bootstrap binary that can be deployed to AWS Lambda.
name: Build MCP Lambda

on:
  workflow_dispatch:
  workflow_call:
    inputs:
      ref:
        required: false
        type: string
        default: ${{ github.ref }}

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      BINARY_PATH: .artifacts/Elastic.Documentation.Mcp.Lambda/release_linux-x64/bootstrap
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ inputs.ref }}
      - name: Amazon Linux 2023 build
        run: |
          docker build . -t mcp-lambda:latest -f src/api/Elastic.Documentation.Mcp.Lambda/Dockerfile
      - name: Get bootstrap binary
        run: |
          docker cp $(docker create --name tc mcp-lambda:latest):/app/.artifacts/publish ./.artifacts && docker rm tc
      - name: Inspect bootstrap binary
        run: |
          tree .artifacts
          stat "${BINARY_PATH}"
      - name: Archive artifact
        id: upload-artifact
        uses: actions/upload-artifact@v6
        with:
          name: mcp-lambda-binary
          retention-days: 1
          if-no-files-found: error
          path: ${{ env.BINARY_PATH }}
