---
# This workflow is used to build the API lambda
# lambda function bootstrap binary that can be deployed to AWS Lambda.
name: Build API Lambda

on:
  workflow_dispatch: 
  workflow_call: 
    inputs:
      ref:
        required: false
        type: string
        default: ${{ github.ref }}
        
permissions: 
  contents: read

jobs: 
  build:
    runs-on: ubuntu-latest
    env:
      BINARY_PATH: .artifacts/Elastic.Documentation.Api.Lambda/release_linux-x64/bootstrap
    steps:
      - uses: actions/checkout@v6
        with: 
          ref: ${{ inputs.ref }}
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Amazon Linux 2023 build
        uses: docker/build-push-action@v6
        with:
          context: .
          file: src/api/Elastic.Documentation.Api.Lambda/Dockerfile
          push: false
          load: true
          tags: api-lambda:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
      
      - name: Get bootstrap binary
        run: |
          docker cp $(docker create --name tc api-lambda:latest):/app/.artifacts/publish ./.artifacts && docker rm tc
      - name: Inspect bootstrap binary
        run: |
          tree .artifacts
          stat "${BINARY_PATH}"
      - name: Archive artifact
        id: upload-artifact
        uses: actions/upload-artifact@v5
        with:
          name: api-lambda-binary
          retention-days: 1
          if-no-files-found: error
          path: ${{ env.BINARY_PATH }}
