name: release-drafter

on:
  workflow_dispatch: ~
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  update-release-draft:
    concurrency:
      group: release-drafter
    permissions:
      contents: write
      pull-requests: read
    runs-on: ubuntu-latest
    steps:
      - uses: release-drafter/release-drafter@6db134d15f3909ccc9eefd369f02bd1e9cffdf97 # v6.2.0
        env:
          GITHUB_TOKEN: ${{ github.token }}
